body {
    /* 뷰포트 높이값의 백분율, 화면에 보이는 전체영역이 바디영역 */
    height: 100vh;

    background-image: url("./overwatch-hero-selector-vanilla-master/images/bg.jpg");
    background-size: cover;
    /* 배경이미지를 반복하지 않고 fixed로 고정시키면 안의 요소만 움직인다. */
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    padding: 50px 0;
}

.container .heroes {
    /* 수평정렬 */
    display: flex;

    /* 페이지에 맞춰서 줄바꿈 */
    flex-wrap: wrap;

    /* 가운데 정렬 */
    justify-content: center;

    /* width만 쓰면 줄어들어도 반응을 안하는데 max같이 쓰면 줄어들 때 같이 줌 */
    max-width: 700px;

    /* 마진 auto할때 블록의 좌우가 있으면 가운데 정렬댐 */
    margin: auto;

    /* 위아래 40,  좌우 20 */
    padding: 40px 20px;
}

.container .heroes .hero {
    width: 80px;
    height: 84px;
    margin: 4px;
    background-color: #555;

    /* 테두리 라인 */
    border: 3px solid #fff;
    /* 테두리 깎기 */
    border-radius: 10px;
    /* 보더를 사용하면 대상의 픽셀이 보더라인만큼 커지니까 대상의 크기를 제한하기 위해서 사용 */
    /* 보더가 들어간 만큼 커지지 않음 */
    box-sizing: border-box;

    /* 대상 기울임 추가 */
    transform: skewX(-14deg);

    /* 호버 했을때 모양 자연스럽게 바꾸기 위해서 */
    /* 그리고 각 속성마다 바꾸는 시간 설정 */
    transition:
      transform .1s,
      background-color 1s;

    /* 사진이 넘치는 부분을 숨긴다 */
    overflow: hidden;
}

/* 영웅위에 마우스 올라갔을 때 hover기능을 이용 */
.container .heroes .hero:hover {
    /* 색 바꿈 */
    background-color: #ff9c00;

    /* scale로 크기 바꿈 */
    /* 그런데 전에 transform에 skewX로 기울임을 만들어 뒀는데 재설정하니까 기울임이 없어짐*/
    transform: skewX(-14deg) scale(1.3);

    /* 형제요소에 가려지니까 가장앞으로 보여지기 위해서 */
    z-index: 1;
}

.container .heroes .hero .image {
    /* 밑에서 사진을 넣어도 이미지가 뜨지 않는것이 크기 설정을 안해줘서 그렇다 */
    width: 140%;
    height: 100%;
    background-position: center;

    /* 이미지가 반복되어서 이미지 왼쪽이 오른쪽에 나옴 */
    background-repeat: no-repeat;
    background-size: 90px;

    /* 부모의 트랜스폼이 요소에도 적용되니까 돌려주자 */
    transform: skewX(14deg) translateX(-16px);
}

/* C:\Users\SSAFY\Desktop\selfstudy\frontstudy\overwatch\overwatch-hero-selector-vanilla-master\images\hero1.png*/
.container .heroes .hero:nth-child(1) .image {background-image: url("./overwatch-hero-selector-vanilla-master/images/hero1.png ");}
.container .heroes .hero:nth-child(2) .image {background-image: url("./overwatch-hero-selector-vanilla-master/images/hero2.png ");}
.container .heroes .hero:nth-child(3) .image {background-image: url("./overwatch-hero-selector-vanilla-master/images/hero3.png ");}
.container .heroes .hero:nth-child(4) .image {background-image: url("./overwatch-hero-selector-vanilla-master/images/hero4.png ");}
.container .heroes .hero:nth-child(5) .image {background-image: url("./overwatch-hero-selector-vanilla-master/images/hero5.png ");}
.container .heroes .hero:nth-child(6) .image {background-image: url("./overwatch-hero-selector-vanilla-master/images/hero6.png ");}
.container .heroes .hero:nth-child(7) .image {background-image: url("./overwatch-hero-selector-vanilla-master/images/hero7.png ");}
.container .heroes .hero:nth-child(8) .image {background-image: url("./overwatch-hero-selector-vanilla-master/images/hero8.png ");}
.container .heroes .hero:nth-child(9) .image {background-image: url("./overwatch-hero-selector-vanilla-master/images/hero9.png ");}
.container .heroes .hero:nth-child(10) .image {background-image: url("./overwatch-hero-selector-vanilla-master/images/hero10.png ");}

.container .heroes .hero:nth-child(11) .image {background-image: url("./overwatch-hero-selector-vanilla-master/images/hero11.png ");}
.container .heroes .hero:nth-child(12) .image {background-image: url("./overwatch-hero-selector-vanilla-master/images/hero12.png ");}
.container .heroes .hero:nth-child(13) .image {background-image: url("./overwatch-hero-selector-vanilla-master/images/hero13.png ");}
.container .heroes .hero:nth-child(14) .image {background-image: url("./overwatch-hero-selector-vanilla-master/images/hero14.png ");}
.container .heroes .hero:nth-child(15) .image {background-image: url("./overwatch-hero-selector-vanilla-master/images/hero15.png ");}
.container .heroes .hero:nth-child(16) .image {background-image: url("./overwatch-hero-selector-vanilla-master/images/hero16.png ");}
.container .heroes .hero:nth-child(17) .image {background-image: url("./overwatch-hero-selector-vanilla-master/images/hero17.png ");}
.container .heroes .hero:nth-child(18) .image {background-image: url("./overwatch-hero-selector-vanilla-master/images/hero18.png ");}
.container .heroes .hero:nth-child(19) .image {background-image: url("./overwatch-hero-selector-vanilla-master/images/hero19.png ");}
.container .heroes .hero:nth-child(20) .image {background-image: url("./overwatch-hero-selector-vanilla-master/images/hero20.png ");}

.container .heroes .hero:nth-child(21) .image {background-image: url("./overwatch-hero-selector-vanilla-master/images/hero21.png ");}
.container .heroes .hero:nth-child(22) .image {background-image: url("./overwatch-hero-selector-vanilla-master/images/hero22.png ");}
.container .heroes .hero:nth-child(23) .image {background-image: url("./overwatch-hero-selector-vanilla-master/images/hero23.png ");}
.container .heroes .hero:nth-child(24) .image {background-image: url("./overwatch-hero-selector-vanilla-master/images/hero24.png ");}
.container .heroes .hero:nth-child(25) .image {background-image: url("./overwatch-hero-selector-vanilla-master/images/hero25.png ");}
.container .heroes .hero:nth-child(26) .image {background-image: url("./overwatch-hero-selector-vanilla-master/images/hero26.png ");}
.container .heroes .hero:nth-child(27) .image {background-image: url("./overwatch-hero-selector-vanilla-master/images/hero27.png ");}
.container .heroes .hero:nth-child(28) .image {background-image: url("./overwatch-hero-selector-vanilla-master/images/hero28.png ");}
.container .heroes .hero:nth-child(29) .image {background-image: url("./overwatch-hero-selector-vanilla-master/images/hero29.png ");}
.container .heroes .hero:nth-child(30) .image {background-image: url("./overwatch-hero-selector-vanilla-master/images/hero30.png ");}

.container .heroes .hero:nth-child(31) .image {background-image: url("./overwatch-hero-selector-vanilla-master/images/hero31.png ");}
.container .heroes .hero:nth-child(32) .image {background-image: url("./overwatch-hero-selector-vanilla-master/images/hero32.png ");}

.container .logo {
    max-width: 300px;
    
    /* flex 대신 쓸 수 있다 */
    margin: 0 auto;
    padding: 0 20px;
}

/* 위에서 설정한 크기에 맞추겠다 */
.container .logo img {
    width: 100%;
}